* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #254297
}

html {
    font-family: Roboto;
}

.text-color {
    color: var(--primary-color)
}

.btn {
    min-width: 90px;
}

