{% extends 'layout/base.html' %}
{% block title%}Xem danh sách bệnh nhân{% endblock %}
{% block content %}
<h1 class="text-color text-center">Danh sách khám bệnh nhân</h1>
<div class="container mt-3" style="min-height: 50vh">
    <div class="dropdown mb-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ngày
        </button>
        <ul class="dropdown-menu">
            {% for d in ds %}
            <li><a class="dropdown-item" href="{{ url_for('list-patients-details', ngayKham=d.ngayKham) }}">{{ d.ngayKham.strftime('%d-%m-%Y') }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}