{% extends 'layout/base.html' %}
{% block title%}Xem danh sách bệnh nhân{% endblock %}
{% block content %}
<h1 class="text-color text-center">Danh sách khám bệnh nhân</h1>
<div class="container mt-3">
    <table class="table-phieukham table table-bordered" style="background-color: #f5f5f5">
    <thead>
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>SĐT</th>
            <th>Giới tính</th>
            <th>Năm sinh</th>
            <th>Địa chỉ</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.id }}</td>
            <td>{{ patient.hoTen }}</td>
            <td>{{ patient.sdt }}</td>
            <td>{{ patient.ngaySinh }}</td>
            <td>{{ patient.gioiTinh }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
</div>

{% endblock %}