<footer class="p-5" >
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p>
                    Phòng khám D2
                </p>
            </div>

            <div class="col-lg-3">
                <h3 class="footer-header">
                    Dịch vụ
                </h3>
                <div class="footer-menu">
                    <ul class="footer-menu-list">
                        <li class="footer-menu-item"><a href="">Chuyên khoa tai mũi họng</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa răng hàm mặt</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa nhi</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa phụ sản</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa nội tổng quát</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa mắt</a></li>
                    </ul>
                </div>
            </div>

             <div class="col-lg-3">
                <h3 class="footer-header">
                    Dịch vụ
                </h3>
                <div class="footer-menu">
                    <ul class="footer-menu-list">
                        <li class="footer-menu-item"><a href="">Chuyên khoa tai mũi họng</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa răng hàm mặt</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa nhi</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa phụ sản</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa nội tổng quát</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa mắt</a></li>
                    </ul>
                </div>
            </div>

             <div class="col-lg-3">
                <h3 class="footer-header">
                    Dịch vụ
                </h3>
                <div class="footer-menu">
                    <ul class="footer-menu-list">
                        <li class="footer-menu-item"><a href="">Chuyên khoa tai mũi họng</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa răng hàm mặt</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa nhi</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa phụ sản</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa nội tổng quát</a></li>
                        <li class="footer-menu-item"><a href="">Chuyên khoa mắt</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>