<nav id="navbar" class="navbar navbar-expand-sm navbar-dark ">
    <div class="container">
        <a class="navbar-brand text-dark" href="javascript:void(0)">
            <div class="logo-img">
                <img src="{{ url_for('static', filename='image/D2-logos/D2-logos.jpeg') }}" alt="D2">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ url_for('home') }}">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="javascript:void(0)">Dịch vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="javascript:void(0)">Về chúng tôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="javascript:void(0)">Tin tức</a>
                </li>
                <li class="nav-item check-in">
                     <a href="javascript:void(0)">Đăng ký khám trực tuyến</a>
                </li>

            </ul>
            <ul class="navbar-item d-flex justify-content-end align-items-center">
<!--                <form class="d-flex">-->
<!--                    <input class="form-control me-2" type="text" placeholder="Nhập từ khoá...">-->
<!--                    <input class="btn btn-primary" type="button" value="Tìm kiếm">-->
<!--                </form>-->
<!--                <div class="check-in">-->
<!--                    <a class="check-in-link" href="javascript:void(0)">Đăng ký khám trực tuyến</a>-->
<!--                </div>-->
                <div class="auth-form">
                    <div class="auth-form-img">
                        <img src="{{ url_for('static',filename='image/user.png') }}" alt="user">
                    </div>
                    <div class="auth-form-login">
                        <a href="">Đăng nhập <i class="fa-solid fa-caret-down"></i></a>
                    </div>
                    <div class="auth-dropdown">
                        <div class="btn btn-login"><a href="">Đăng nhập</a></div>
                        <div class="btn btn-register"><a href="">Đăng ký</a></div>
                    </div>
                </div>
            </ul>

        </div>
    </div>
</nav>
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ url_for('static',filename='image/c1.jpg') }}" alt="" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static',filename='image/c2.jpg') }}" alt="" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static',filename='image/c3.jpg') }}" alt="" class="d-block w-100">
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>